html{
    height: 100%;
}
body{
    color: white;
    background: linear-gradient(360deg, rgb(28, 23, 77)15%,rgb(119, 216, 245)90%,rgb(83, 133, 240));
}
.heading{
    background:linear-gradient(360deg, rgb(119, 216, 245)15%,rgb(28, 23, 77)90%,rgb(83, 133, 240));
    color: rgb(255, 255, 255);
    text-align: center;
    padding: .25em;
    margin:2em;
    border-radius: .2em;
}
.myCanvas{
    text-align: center;
}
canvas{
    width:"200px";
    height:"150px";
    border:1px solid #ffffff;
    text-align: center;
    display: block;
    margin: auto;
}
.section{
    display: flex;
    text-align: center;
    padding:auto;
    margin:auto
}
.form{
    flex: 1;
    line-height: 3em;
    text-align: center;
    float: none;
}
.canvas{
    flex: 1;
    margin-top: 1.5em;
    float: none;
}
.form,label{
    font-weight: bold;
    font-size: 18px;
    margin: 0 1em;
    flex: 1;
    text-align: left;
}
.form,input{
    height: 2em;
    margin: 0 1em;
    flex: 1;
    text-align: left;
    border-radius: .5em;
}
.button{
    background-color: rgb(8, 59, 52);
    border: none;
    margin-top: 1em;
    float: none;
    color: white;
    font-size: 16px;
}
.button:hover{
    background-color: rgb(253, 253, 253);
    font-weight: bold;
    color: rgb(8, 59, 52);
}
.form div{
    display: flex;
    margin-left: 10em;
}
.form div span{
    margin: 0 1em;
    flex: 1;
    text-align: left;
}
img{
    width:250px;
    border:1px solid  #ffffff;
}