@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* Login  */
.login {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    background: url('./images/logo.png') no-repeat center top / 79vh auto, 
                linear-gradient(to bottom, black 66%, rgb(0, 153, 254) 100%);
    font-size: 3vh;
    color: rgb(0, 153, 254);
}

@media screen and (max-width: 450px) {
    /* Adjust background size for smaller screens */
    .login {
        background: url('./images/logo.png') no-repeat center top / 40vh auto, 
        linear-gradient(to bottom, black 51%, rgb(0, 153, 254) 100%);
    }
}

@media screen and (min-width: 451px) and (max-width: 920px) {
    /* Adjust background size for medium-sized screens */
    .login {
        background-size: 67vh auto;
    }
}

.wrapper {
    background: transparent;
    width: 100vh; /* Change '100dvh' to '100vh' */
    color: rgb(0, 153, 254);
    margin: 0 0.3em;
    border-radius: 10px;
    padding: 0px 30px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.427)
}

.wrapper h2 {
    font-size: 7vh;
    text-align: center;
    margin-bottom: 0px;
}

.input-box {
    width: 100%;
    height: 4vh;
    margin: 0.8vh 0;
    position: relative; /* Add this to the input box */
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px double rgb(0, 153, 254);
    border-radius: 40px;
    color: rgb(235, 252, 0);
    padding: 0 5vh;
    font-size: 3vh;
    caret-color: rgb(235, 252, 0);
}

.input-box input::placeholder {
    color: rgb(0, 91, 152);
    padding-left: 2vh;
    font-size: 3vh;
}

.input-box input::-ms-reveal {
    filter: invert(100%);
}


.input-box input:focus {
    outline: 2px solid rgb(235, 252, 0);
}

.input-box i {
    position: absolute;
    top: 59%;
    left: 10px; /* Adjust the right position as needed */
    transform: translateY(-50%); /* Vertically center the "i" icon */
    color: rgb(235, 252, 0);
}

.wrapper .remember {
    display: flex;
    justify-content: space-between;
}

.remember label {
    color: black;
}
.remember a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.remember a:hover {
    color: rgb(235, 252, 0);
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px double rgb(0, 153, 254);
    border-radius: 40px;
    color: rgb(0, 153, 254);
    padding: 0 5vh;
    font-size: 3vh;
    transition: box-shadow 0.3s ease;
    margin-top: 2%;
}

.wrapper .btn:hover {
    box-shadow: 0 0 20px rgba(0, 153, 254, 0.7); /* Increase the box shadow on hover */
}

.wrapper .btn:active {
    box-shadow: 0 0 30px rgb(235, 252, 0);; /* Increase box shadow when clicked */
    transform: scale(0.97); /* Add a scaling effect when clicked */
    color: rgb(235, 252, 0);
}

.wrapper .registration {
    text-align: center;
    margin-top: 0.1em;
}

.registration p{
    color: rgba(0, 0, 0);
}

.registration p a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.registration p a:hover {
    color: rgb(235, 252, 0);
    text-decoration: underline;
}

/* Sign up */
.signup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    background: url('./images/logo.png') no-repeat center top / 57vh auto, 
                linear-gradient(to bottom, black 50%, rgb(0, 153, 254) 100%);
    font-size: 3vh;
    color: rgb(0, 153, 254);
}

.input-box select#userType {
    width: 100%;
    height: 100%;
    border: 2px double rgb(0, 153, 254);
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(235, 252, 0);
    padding-left:4.6vh;
    font-size: 2.8vh;
    caret-color: rgb(235, 252, 0);
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis;
}

.input-box select#userType option {
    background-color:rgb(0, 153, 254); 
}

select#userType option:hover {
    background-color:rgb(235, 252, 0); 
    color: rgb(0, 153, 254);
}

@media screen and (max-width: 450px) {
    /* Adjust background size for smaller screens */
    .signup {
        background-size: 40vh auto;
    }
}

@media screen and (min-width: 451px) and (max-width: 920px) {
   
}
